<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1><%= @crazy_cat_lady.name %></h1>

  <p>Age: <%= @crazy_cat_lady.age %></p>

  <%= image_tag @crazy_cat_lady.image_url %>

</body>
</html>
